{% extends 'base.html' %} {%block title%}MADLIBS{%endblock%} 
{%block content%}
  <body>
    <header id="header">
      <h1>Madlibs</h1>
      <p>Welcome to the Game</p>
      <div id="templates">
        <h2>CHOOSE YOUR TEMPLATE</h2>
        <form>
          <label for="inputs">Choose an input:</label>
          <select id="inputs" name="inputs">
            <option value="input1">Input 1</option>
            <option value="input2">Input 2</option>
            <option value="input3">Input 3</option>
            <option value="input4">Input 4</option>
            <option value="input5">Input 5</option>
          </select>
        </form>
      </div>
    </header>

    <form action="/story">
      <div id="inputForm">
        {%for prompt in prompts%}

        <label for="{{prompt}}">{{prompt.title()}}</label>
        <input name="{{prompt}}" id="{{prompt}}" type="text">
        {% endfor %}

        <button id="submitBtn" type="submit">Submit</button>
      </div>
    </form>
  
  </body>
</html>
{%endblock%}
