{% extends 'base.html' %} {%block title%}MADLIBS{%endblock%} {%block
  content%}
  <body>
    <header id="header">
      <h1>Madlibs</h1>
      <p>Welcome to the Game</p>
    </header>

    <form action="">
      <div id="inputForm">
        <label for="place">Place</label>
        <input id="place" type="text">
        <label for="noun">Noun</label>
        <input id="noun" type="text">
        <label for="verb">Verb</label>
        <input id="verb" type="text">
        <label for="adjective ">Adjective</label>
        <input id="adjective" type="text">
        <label for="plural-noun">Plural-Noun</label>
        <input id="plural-noun" type="text">
  
        <button id="submitBtn" type="submit">Submit</button>
      </div>
    </form>
  
  </body>
</html>
{%endblock%}
